<div style='font-family: sans-serif;'>
    <h2 style='margin-bottom: 2px; color: @PRIMARY_ACCENT;'>Lossless Crop Engine</h2>
    <p style='margin-top: 0px; font-style: italic; color: @CANVAS_GRID;'>
        High-performance, bit-perfect image manipulation.
    </p>
    
    <hr style='border: 0; height: 1px; background: @MENU_SEPARATOR_BG; margin: 12px 0;'>

    <table border='0' cellpadding='3' cellspacing='0' style='font-size: 12px;'>
        <tr>
            <td style='color: @CHECKBOX_HOVER_BORDER; padding-right: 15px;'><b>Version:</b></td>
            <td>1.0.0 (Stable Build)</td>
        </tr>
        <tr>
            <td style='color: @CHECKBOX_HOVER_BORDER; padding-right: 15px;'><b>Engine:</b></td>
            <td>Lossless Crop Core v2.4</td>
        </tr>
        <tr>
            <td style='color: @CHECKBOX_HOVER_BORDER; padding-right: 15px;'><b>Environment:</b></td>
            <td>Python 3.11 + PyQt6</td>
        </tr>
    </table>

    <hr style='border: 0; height: 1px; background: @SPLASH_OR_DIVIDER; margin: 12px 0;'>

    <p style='font-size: 12px; margin-bottom: 15px;'>
        For updates, issue tracking, and documentation, visit:<br>
        <a href='https://github.com' style='color: @PRIMARY_ACCENT; text-decoration: none;'>
            ➜ GitHub Repository
        </a>
    </p>

    <p style='font-size: 10px; color: @BTN_SETTINGS_COLOR; margin-top: 20px;'>
        Copyright © 2026. Distributed under the MIT License.
    </p>
</div>