<div style='font-family: sans-serif; color: @PRIMARY_TEXT;'>
    <!-- Title & Subtitle -->
    <h2 style='margin-bottom: 2px; color: @PRIMARY_ACCENT;'>Lossless Crop</h2>
    <p style='margin-top: 0px; font-style: italic; color: @LBL_STATUS_TEXT;'>
        Una aplicación multiplataforma de recorte de imágenes sin pérdida de calidad con numerosas características y opciones de configuración.
    </p>
    
    <hr style='border: 0; height: 1px; background: @MENU_SEPARATOR_BG; margin: 12px 0;'>

    <!-- Environment details -->
    <table border='0' cellpadding='3' cellspacing='0' style='font-size: 12px; color: @PRIMARY_TEXT;'>
        <tr>
            <td style='color: @LBL_FOLDER_TEXT; padding-right: 15px;'><b>Versión:</b></td>
            <td>@APP_VERSION (Versión Estable)</td>
        </tr>
        <tr>
            <td style='color: @LBL_FOLDER_TEXT; padding-right: 15px;'><b>Nombre:</b></td>
            <td>Lossless Crop</td>
        </tr>
        <tr>
            <td style='color: @LBL_FOLDER_TEXT; padding-right: 15px;'><b>Entorno:</b></td>
            <td>Python 3.11 + PyQt6</td>
        </tr>
    </table>

    <hr style='border: 0; height: 1px; background: @SPLASH_OR_DIVIDER; margin: 12px 0;'>

    <!-- Mandatory Open Source Compliance Footprint -->
    <div style='font-size: 11px; line-height: 1.5; color: @LBL_STATUS_TEXT;'>
        <p style='margin: 0 0 6px 0;'>
            <b style='color: @PRIMARY_TEXT;'>PyQt6:</b> Licenciado bajo GNU GPLv3. Copyright © Riverbank Computing Limited.
        </p>
        <p style='margin: 0 0 6px 0;'>
            <b style='color: @PRIMARY_TEXT;'>Pillow:</b> Licenciado bajo HPND. Copyright © 2010-2026 Alex Clark y colaboradores.
        </p>
        <p style='margin: 0 0 6px 0;'>
            <b style='color: @PRIMARY_TEXT;'>jpegtran:</b> Este software se basa en parte en el trabajo del Independent JPEG Group.
        </p>
    </div>

    <hr style='border: 0; height: 1px; background: @SPLASH_OR_DIVIDER; margin: 12px 0;'>

    <!-- Project links -->
    <p style='font-size: 12px; margin-bottom: 15px;'>
        Para actualizaciones, acceso al código fuente y documentación, visite:<br>
        <a href='https://github.com/alejandronbachi/lossless-crop' style='color: @PRIMARY_ACCENT; text-decoration: none;'>
            ➜ Repositorio de GitHub
        </a>
    </p>

    <!-- Main licensing footer -->
    <p style='font-size: 10px; color: @LBL_FOLDER_TEXT; margin-top: 20px;'>
        Copyright © 2026 Alejandro N. Bachi. Este programa es software libre distribuido bajo la <b style='color: @PRIMARY_TEXT;'>GNU GPLv3</b> sin ninguna garantía.
    </p>
</div>
