<b>[Hotkeys Layout]</b><br><br>
[<b>Space</b>]       : Crop & Next<br>
[<b>S</b>]           : Crop & Stay<br>
[<b>O</b>]           : Open Directory<br>
[<b>I</b>]           : Open Image<br>
[<b>F/D</b>]           : Skip Forward<br>
[<b>B/A</b>]           : Skip Backward<br>
[<b>R</b>]           : Rotate Clockwise<br>
[<b>P/Q</b>]           : Toggle Preview<br>
[<b>Alt</b>]           : Toggle Menu<br>
[<b>Esc</b>]         : Exit App<br><br>
<i>Left-Click Drag: Draw Box<br>
Right-Click Drag: Move Box<br>
Middle-Click: Crop<br>
Scroll: Navigate
</i>
