<b>[Disposición de Atajos]</b><br><br>
[<b>Espacio</b>]    : Recortar y Siguiente<br>
[<b>S</b>]           : Recortar<br>
[<b>O</b>]           : Abrir Directorio<br>
[<b>I</b>]           : Abrir Imagen<br>
[<b>F/D</b>]           : Avanzar<br>
[<b>B/A</b>]           : Retroceder<br>
[<b>R</b>]           : Girar<br>
[<b>P/Q</b>]           : Vista Previa<br>
[<b>Alt</b>]           : Menú<br>
[<b>Esc</b>]         : Salir de la App<br><br>
<i>Clic Izquierdo : Dibujar Cuadro<br>
Clic Derecho : Mover Cuadro<br>
Clic Central: Recortar<br>
Rueda : Navegar
</i>
