<b>[Atalhos]</b><br><br>
[<b>Espaço</b>]   : Recortar e Próximo<br>
[<b>S</b>]           : Recortar<br>
[<b>O</b>]           : Abrir Diretório<br>
[<b>I</b>]           : Abrir Imagem<br>
[<b>F/D</b>]           : Avanzar<br>
[<b>B/A</b>]           : Voltar<br>
[<b>R</b>]           : Girar<br>
[<b>P/Q</b>]           : Visualização<br>
[<b>Alt</b>]           : Menu<br>
[<b>Esc</b>]         : Sair do App<br><br>
<i>Clique Esq. : Selecionar<br>
Clique Dir. : Mover<br>
Clique Meio : Recortar<br>
Roda : Navegar
</i>
