<b>[Raccourcis]</b><br><br>
[<b>Espace</b>]    : Rogner & Suivant<br>
[<b>S</b>]           : Rogner<br>
[<b>O</b>]           : Ouvrir Dossier<br>
[<b>I</b>]           : Ouvrir Image<br>
[<b>F/D</b>]           : Suivant<br>
[<b>B/A</b>]           : Précédent<br>
[<b>R</b>]           : Pivoter<br>
[<b>P/Q</b>]           : Aperçu<br>
[<b>Alt</b>]           : Menu<br>
[<b>Esc</b>]         : Quitter l'App<br><br>
<i>Clic G. : Sélectionner<br>
Clic D. : Déplacer<br>
Clic Mil. : Rogner<br>
Molette : Naviguer
</i>
